/* header */
.header {
  @include withAndHeight($height: 75px);
  background: #24436f;
}

.header-container {
  @include withAndHeight(1126px, 75px);
  margin: 0 auto;
  position: relative;
}

.header-logo {
  @include withAndHeight($width: 485px);
  display: flex;

  &__image {
    margin-top: 4px;
    @extend %flex-style;
  }

  &__text {
    margin-left: 18px;
    font-size: 1.2rem;
    @extend %flex-style;
    color: #bfc9d7;
  }
}

.header-release {
  @include withAndHeight(316px, 30px);
  margin-left: 26px;
  background: #345584;
  @include kadomaru(4px);
}

.release-list {
  @extend %flex-style;
  @include withAndHeight($height: 100%);
  justify-content: center;

  &__item {
    > a {
      font-size: 1.3rem;
      color: $white;
    }
  }
}

.header-small-container {
  display: flex;
  position: absolute;
  top: 13px;
}

.line {
  @include boxBase(0 10px 0 0, 0 10px 0 0);
  border-right: 1px solid #bfc9d7;
}

.header-keyword {
  @include withAndHeight(288px, 30px);
  margin-left: 11px;
  display: flex;

  &__text {
    @include withAndHeight(258px, 30px);
    @include kadomaru(4px 0 0 4px);

    &::placeholder {
      padding: 2px 15px;
      @include withAndHeight(228px, 25px);
      font-size: 1.3rem;
      @extend %flex-style;
      color: #bbbbbb;
    }
  }

  &__button {
    @include withAndHeight(30px, 30px);
    background: #3081c9;
    @include kadomaru(0 4px 4px 0);
    justify-content: center;
    @extend %flex-style;
  }
}

.main-header {
  position: absolute;
  top: 52px;
  @include withAndHeight($height: 15px);
}

.main-header-list {
  @include withAndHeight($height: 100%);
  @extend %flex-style;

  &__item > a {
    font-size: 1.3rem;
    color: #bfc9d7;
  }

  &__item:nth-child(1) > a {
    margin-left: -1px;
    font-weight: bold;
    color: $white;
  }
}

/* .category-header */
.category-header {
  @include withAndHeight($height: 36px);
}

.category-list {
  @include boxBase(0 auto, 13px 0 0 0);
  @include withAndHeight($width: 837px);
  display: flex;

  &__item {
    margin-right: 20px;
    white-space: nowrap;
    line-height: 1;

    &:nth-child(1) > a {
      font-weight: bold;
    }
  }
}

.category-link {
  font-size: 1.3rem;
  color: #294c7a;
}

/* .ranking */
.ranking {
  @include withAndHeight($height: 263px);
  background: #f2f2f2;
  justify-content: center;
  @extend %flex-style;
}

.ranking-box-list {
  @include withAndHeight(1126px, 100%);
  display: flex;
}

.ranking-article {
  @include withAndHeight($width: 181px);
  margin: 22px 8px 22px 0;
  background-color: white;

  &:nth-last-child(1) {
    margin-right: 0px;
  }

  &__img {
    height: 100px;
    position: relative;
  }

  &__content {
    padding: 9px 10px;
    @include withAndHeight($width: 181px);
  }

  &__heading {
    font-weight: normal;
    font-size: 1.3rem;
    line-height: 1.4;
    color: #3b3b3b;
    @include withAndHeight($height: 57.6px);
  }

  &__subtext {
    line-height: 1;
    vertical-align: middle;
  }
}

.rank-area {
  @include withAndHeight(24px, 24px);
  position: absolute;
  top: 0;
  left: 0;
  background-color: #24436f;
  justify-content: center;
  @extend %flex-style;

  &__text {
    font-family: Roboto;
    font-style: italic;
    font-weight: bold;
    font-size: 1.7rem;
    line-height: 1;
    margin-left: -3px;
    color: $white;
  }
}

.time-area {
  @include withAndHeight(52px, 15px);
  display: flex;

  &__card {
    @include withAndHeight(15px, 100%);
    background-image: url("img/icon.png");
    background-position: center;
    background-size: cover;
    margin-right: 5px;
    flex: none;
  }

  &__releasedTime {
    font-size: 1.2rem;
    color: $article-text;
    flex: none;
    padding-top: 2px;
  }
}

.company-area {
  font-size: 1.3rem;
  color: $article-text;
  padding-top: 2px;
}

.pv-count {
  font-size: 1.2rem;
  color: $article-text;
  line-height: 1.5;
}

/* main */

.wrapper {
  margin: 40.65px auto 0 auto;
  @include withAndHeight(1127px, 803.35px);
  display: flex;
}

.main {
  @include withAndHeight(779px, 733.35px);

  &__button {
    @include withAndHeight(110px, 38px);
    margin-top: 30px;
    background: #3081c9;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.24);
    @include kadomaru(2px);
    font-weight: bold;
    font-size: 1.4rem;
    color: $white;
    border: none;
  }
}

.title {
  padding-bottom: 20px;
  font-weight: bold;
  font-size: 2.4rem;
  color: #3b3b3b;
}

.contents {
  @include withAndHeight(778px, 658px);
  text-align: center;
}

.articles {
  @include withAndHeight($height: 590px);
  font-size: 0;
}

.main-article {
  @include withAndHeight(380px, 118px);
  display: inline-block;
  border-bottom: 1px solid #e4e4e4;

  &:nth-child(odd) {
    margin-right: 18px;
  }

  &__heading {
    margin-top: 15px;
    @include withAndHeight($height: 66px);
    font-size: 0;
    display: flex;
  }

  &__title {
    text-align: left;
    font-weight: bold;
    font-size: 1.4rem;
    line-height: 1.6;
    color: #3b3b3b;
    @include withAndHeight(265px, 100%);
    margin-right: 15px;
  }

  &__image {
    @include withAndHeight(100px, 100%);
  }

  &__subarea {
    text-align: left;
    margin-top: 4px;
    font-size: 0;
  }

  &__timeimage {
    vertical-align: middle;
    display: inline-block;
    margin-right: 5px;
    @include withAndHeight(15px, 15px);
  }

  &__time {
    vertical-align: middle;
    margin-right: 12px;
    display: inline-block;
    font-size: 1.2rem;
    line-height: 1;
    color: $article-text;
  }

  &__company {
    vertical-align: middle;
    display: inline-block;
    font-size: 1.3rem;
    line-height: 1;
    color: $article-text;
  }
}

.side-bar {
  @include withAndHeight(312px, 733.35px);
  margin-left: 36px;

  &__title {
    font-weight: bold;
    font-size: 1.8rem;
    line-height: 1.5;
    color: #3b3b3b;
    padding-bottom: 43px;
  }

  &__keywords {
    @include withAndHeight(309px, 73px);
    border-bottom: 1px solid #e4e4e4;
  }

  &__keyword {
    display: inline-block;
    background: #f1f1f1;
    @include kadomaru(11px);
    font-size: 1.2rem;
    line-height: 180%;
    color: #3b3b3b;
    text-align: center;
    @include boxBase(0 9px 10px 0, 0 8px);

    &:nth-last-child(1) {
      background-color: white;
      border: 1px solid #f1f1f1;
    }
  }
}

/* footer */
.footer {
  @include withAndHeight(100%, 356px);
  background: #fafafa;

  &__container {
    @include boxBase(0 auto, 60px 0 0 0);
    @include withAndHeight(1127px, 296px);
  }
}

.footer-contents {
  @include withAndHeight(100%, 296px);

  &__lists {
    @include withAndHeight(1125px, 230px);
    padding-bottom: 20px;
    border-bottom: 1px solid #e0e0e0;
    display: flex;
  }
}

.footer-list {
  @include withAndHeight(25%, 210px);

  &__title {
    font-size: 1.2rem;
    margin-bottom: 18px;
    line-height: 1;
    font-weight: normal;
  }

  &__item {
    @include withAndHeight(100%, 1.3rem);
    margin-bottom: 18px;
    line-height: 1;

    > a {
      font-size: 1.2rem;
      line-height: 1;
      color: #797979;
    }
  }
}

.footer-term {
  @include withAndHeight(1125px, 46px);
  @extend %flex-style;

  &__item {
    font-size: 1.2rem;
    color: #797979;
    margin-right: 20px;
  }
}

.footer-copyright {
  @include withAndHeight(1125px, 20px);

  &__item {
    display: inline;
    font-size: 1.1rem;
    color: #797979;
    vertical-align: top;
  }
}
