/* .category-header */
.category-header {
  height: 36px;
}

.categories {
  margin: 0 auto;
  width: 837px;
}

.categories ul {
  width: 837px;
  height: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.category-list-item {
  font-size: 1.3rem;
  color: #294c7a;
  margin-right: 20px;
  white-space: nowrap;
  padding-top: 11.5px;
  line-height: 1;
}

.sogo {
  width: 27px;
  height: 12px;
  font-weight: bold;
  font-size: 1.3rem;
  color: #294c7a;
}

.technology {
  width: 77px;
  height: 13px;
}

.mobile {
  width: 51px;
  height: 13px;
}

.apli {
  width: 40px;
  height: 12px;
}

.entame {
  width: 52px;
  height: 13px;
}

.beauty {
  width: 78px;
  height: 13px;
}

.fassion {
  width: 79px;
  height: 12px;
}

.lifestyle {
  width: 91px;
  height: 13px;
}

.buisness {
  width: 53px;
  height: 12px;
}

.gurume {
  width: 38px;
  height: 13px;
}

.sports {
  width: 52px;
  height: 13px;
}
